.total-num-label {
  display: block;
  text-align: center;
  font-size: 1.6rem;
}

.all-category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.category {
  font-size: 1.25rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  margin: 0.5rem 0;
  /* color:rgb(0, 109, 153); */
}

.category:hover {
  color: purple;
}

@media (max-width: 1224px) {
  .category {
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
    margin: 6px 12px;
    padding: 8px 0;
  }
  .category:hover {
    color: initial;
  }
  .all-category-box {
    align-items: stretch;
    margin-top: 4px;
  }
  [data-theme="dark"] .category {
    background-color: rgb(79, 79, 79);
  }
}
