.copy-button {
    font-size: 1.5rem;
    color:lightgray;
    cursor: pointer;
    position: relative;
    z-index: 101;
}

.copy-button:hover {
    color: dodgerblue;
}

.copied {
    font-size: 1.5rem;
    color:lawngreen;
}

@media (max-width: 1224px) {
    .copied,.copy-button {
        font-size: 1rem;
    }
    .copy-button {
        color:rgba(255, 255, 255, 0.545);
    }
    .copy-button:hover {
        color:rgba(255, 255, 255, 0.545);
    }

}