html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: calc(0.8em + 0.2vw);
}

body::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: #e7e7e7;
}

body::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgb(175, 175, 175);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 145, 145);
}

[data="highlight"] {
  background-color: #282c34;
  display: block;
  position: relative;
  left: -3px;
  border-left: 3px solid rgb(197, 135, 235);
}

/* 改变Tocbot默认颜色 */
.is-active-link::before {
  background-color: #894bbc;
}

/* 改变Tocbot目录行间距 */
.toc-link {
  line-height: 1.3;
}
.toc-list-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* 使目录可以滚动,需要取消目录折叠 */
.toc {
  max-height: 70vh;
  overscroll-behavior: contain; /* 阻止滚动链 */
}

/* 修改目录滚动条 */
.toc::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: transparent;
}

.toc::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: #e7e7e7;
}

.toc::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgb(175, 175, 175);
}

.toc::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 145, 145);
}





