.logo-h1 {
  /* border: 1px solid blue; */
  cursor: pointer;
  margin-left: 5rem;
  margin-top: 2rem;
}


.header {
  height: 15rem;
  width: 100%;

}
.inner-header {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;

}

.shrink-header {
  position: fixed;
  top: 0;
  height: 3.5rem;
  transition: all 0.2s;
  background: transparent;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid lightgray;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  z-index: 300;
}





.shrink-header .logo-img {
  height: 48px;
  width: 48px;
  transition: all 0.2s;
}

.header-nav {
  margin-left: 30vw;
  /* margin-right: auto; */
}

.header-post-title {
  display: none;
}

.shrink-header .header-nav {
  margin-left: 4rem;
}

.shrink-header .header-post-title {
  display: flex;
  margin-left: 4rem;
  width: 35rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  

}

.nav-ul {
  display: flex;
  list-style-type: none;
}

.nav-ul>*+* {
  margin-left: 3rem;
}

.nav-ul>li {
  font-weight: 500;
  font-size: 1.2rem;
}

.ul-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
}

.ul-li:hover>a:hover {
  color: skyblue;
}

.menu-bottom-bar {
  margin-top: 0.5rem;
  height: 0.3rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  width: 4rem;
}