.logo-h1 {
  cursor: pointer;
  margin-left: 5rem;
}

.header {
  height: 15rem;
  width: 100%;
}

.inner-header {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
}

.shrink-header {
  position: fixed;
  top: 0;
  height: 3.5rem;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  border-bottom: 1px solid rgb(239, 239, 239);
  z-index: 300;
}

.shrink-header .logo-img {
  transition: all 0.2s;
}

.header-nav {
  margin-left: 25vw;
}

.header-post-title {
  display: none;
}

.shrink-header .header-nav {
  margin-left: 4rem;
}

.shrink-header .header-post-title {
  display: flex;
  margin-left: 4rem;
  width: 35rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

[data-theme="dark"] .shrink-header .header-post-title {
  color: whitesmoke;
}

.nav-ul {
  display: flex;
  list-style-type: none;
}

.nav-ul > * + * {
  margin-left: 3rem;
}

.nav-ul > li {
  font-weight: 500;
  font-size: 1.2rem;
}

.ul-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
}

.ul-li-theme {
  align-self: center;
}

.ul-li:hover > a:hover {
  color: rgb(200, 135, 235);
}

[data-theme="dark"] .ul-li {
  color: blueviolet;
}

.menu-bottom-bar {
  margin-top: 0.5rem;
  height: 0.3rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  width: 4rem;
}

.mobile-nav-button {
  display: none;
}

.header-home {
  height: 25rem;
  background-image: url(../public/rainbow_wave.svg);
  background-size: cover;
}

@media (max-width: 1224px) {
  .header {
    width: 100vw;
  }

  .shrink-header .header-post-title {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .inner-header {
    justify-content: space-between;
  }

  .logo-h1 {
    margin: 0;
    padding: 0;
    /* vertical-align:middle; */
    /* margin-top: 1rem; */
    /* height: 50%;
    width: 50%; */
  }

  .shrink-header .logo-h1 {
    /* height: 70%; */
    width: 70%;
  }

  .mobile-nav-button > span {
    font-size: 2rem;
  }

  .shrink-header .mobile-nav-button > span {
    font-size: 1.5rem;
  }

  .header-nav {
    margin-left: 0;
    position: relative;
  }

  .nav-ul {
    display: none;
  }

  .mobile-nav-button {
    display: flex;
    margin-right: 2rem;
  }

  .mobile-nav-ul {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
    border-radius: 0.5rem;
    width: 160px;
    list-style: none;
    z-index: 105;

    background: white;
    border: 1px solid gray;
    padding-left: 0;
  }

  .mobile-ul-li {
    /* background-color:black; */
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .mobile-ul-li + .mobile-ul-li {
    border-top: 1px solid lightgray;
  }

  .selected-nav-home {
    color: blueviolet;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .selected-nav {
    color: blueviolet;
  }

  [data-theme="dark"] .mobile-nav-ul {
    border: 1px solid white;
  }

  [data-theme="dark"] .mobile-nav-ul {
    background: rgb(136, 136, 136);
  }

  [data-theme="dark"] .mobile-ul-li + .mobile-ul-li {
    border-top: 1px solid white;
  }

  [data-theme="dark"] .mobile-ul-li {
    color: white;
  }

  [data-theme="dark"] .selected-nav-home {
    background-color: black;
  }

  [data-theme="dark"] .selected-nav {
    background-color: black;
  }
}
