.preview-post-body pre {
    background-color: #ffffff;
}

.code-header {
    display: block;
    width: 2rem;
    margin-right: 1rem;
    margin-left: auto;
    position: relative;
    height: 2rem;
    top: 2.8rem;
    visibility: hidden;
    margin-top: -3rem;
}

.code-box:hover .code-header {
    visibility: visible;
}

[data-theme='dark'] .preview-post-body {
    background: black;
    color: white;
}

[data-theme='dark'] .preview-post-body pre {
    background-color: black;
}

[data-theme='dark'] .preview-post-body table * {
    background: black;
}

@media (max-width: 1224px) {
    .preview-post-body pre {
        font-size: 0.6rem;
    }

    .code-header {
        visibility: visible;
        margin-right: 0rem;
        top: 2.8rem;
    }

    .preview-post-body {
        overflow-x: auto;
        overflow-y: hidden;
    }
}