

.article-and-next {
    width: 80vw;
    margin: 2rem auto;
}

.authors-box {
    display: flex;
    justify-content: center;
}

.article-and-next header {
    margin-bottom: 5rem;
}

.time {
    display: block;
    text-align: center;
    color: rgb(72, 72, 72);
    margin: 0.5rem 0;
    font-weight: 400;
}

[data-theme='dark'] .time {
    color: rgb(156, 156, 156);
}

.post-category {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.1rem;
}

.post-category>span {
    font-size: 20px;
    color: cornflowerblue;
    margin-right: 0.5rem;

}

.authors-box>p+p {
    margin-left: 2.5rem;
}

.authors-box p {
    margin: 0.5rem 0;
}

.author {
    display: flex;
    align-items: center;
}

.author>span {
    font-size: 20px;
    margin-right: 0.3rem;
    color: rgba(153, 50, 204, 0.519);

}

.default-author-avatar {
    margin-right: 0.3rem;
    border-radius: 10px;
}


.tags-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-tag {
    background-color: whitesmoke;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    text-align: center;
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    cursor: pointer;
}

[data-theme='dark'] .post-tag {
    background-color: rgb(107, 107, 107);
}

.post-tag:hover {
    background-color: dodgerblue;
    color: white;
}

.post-category:hover {
    color: blueviolet;
    cursor: pointer;
}

.post-title {
    font-size: 2.5rem;
    text-align: center;
}

.toc-and-md {
    display: flex;
}

.md-toc { 
    padding: 1rem;
    flex:0 0 360px;
    position: sticky;
    top: 60px;
    align-self: flex-start;
    line-height: 2.2;
    font-size: 16px;
}

.menu-head {
    font-size: large;
    margin: 4px;
}

.md-box { 
    padding: 1rem;
    flex:1;
}

.post-nav-box {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}

.last-post-box,
.next-post-box {
    width: 20rem;
    cursor: pointer;
    transition: all 0.3s;
    padding: 1rem;
}

.no-cursor {
    cursor: initial;
}

.next-post-box {
    text-align: right;
}

.next-post-box:hover {
    transform: scale(1.05);
}


.next-post-box:hover .post-nav-title {
    color: darkblue;
}

[data-theme='dark'] .next-post-box:hover .post-nav-title {
    color: rgb(126, 126, 255);
}


.last-post-box:hover {
    transform: scale(1.05);
}

.last-post-box:hover .post-nav-title {
    color: darkblue;
}

[data-theme='dark'] .last-post-box:hover .post-nav-title {
    color: rgb(126, 126, 255);
}

@media (max-width: 1224px) {
    .article-and-next {
        width: 90vw;
    }
    .authors-box {
        flex-wrap: wrap;
    }

    .md-toc {
        display: none;
    } 
    
    .toc-and-md {
        display: initial;
    }

    .md-box {
        padding: 0;
    }

    .next-post-box:hover {
        transform: none;
    }

    .next-post-box:hover .post-nav-title {
        color: inherit;
    }

    [data-theme='dark'] .next-post-box:hover .post-nav-title {
        color: inherit;
    }

    .last-post-box:hover {
        transform: none;
    }

    .last-post-box:hover .post-nav-title {
        color: inherit;
    }

    [data-theme='dark'] .last-post-box:hover .post-nav-title {
        color: inherit;
    }
}