

.post-timeline-wrap {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;

}
.timeline {
  list-style: none;
  margin: 4em auto;
  position: relative;
  max-width: 50em;
}
.timeline:before {
  background-color: rgb(0, 0, 0);
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 4.5em;
  width: 3px;
  height: 100%;
}

[data-theme='dark'] .timeline:before {
  background-color: white;

}

.timeline-event {
  position: relative;
}
.timeline-event:hover .timeline-event-icon {
  transform: rotate(-45deg);
  background-color: #5c33a9;
 
}
.timeline-event:hover .timeline-event-thumbnail {
  box-shadow: inset 20em 0 0 0 #5c33a9;
  
  
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -3.5em;
  left: 48px;
  width: 80%;
  
}
.timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 32px;
  width: 1em;
  height: 1em;
}
[data-theme='dark'] .timeline-event-icon {
  outline: 10px solid black;
  background-color: white;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.4s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  font-size: 1.25em;
  background-color: black;
  box-shadow: inset 0 0 0 0em #5a62ef; 
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

[data-theme='dark'] .timeline-event-thumbnail {
  background-color: rgb(97, 97, 97);
}

.post-title a {
  text-decoration: underline;
  text-decoration-color: gray;
  text-underline-offset: 0.5rem;
}

.post-title:hover {
  color:#5c33a9;
}

