.search-box-wrap {
    border: 1px solid rgb(222, 222, 222);
    width: max-content;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
}

[data-theme='dark'] .search-box-wrap {
    border: 1px solid rgb(78, 78, 78);
}

.search-box-wrap:hover {
    border: 1px solid rgb(108, 108, 108);
}
.search-box-wrap:focus-within {
    border: 1px solid black;
}

[data-theme='dark'] .search-box-wrap:focus-within {
    border: 1px solid white;
}
.search-input {
    border: none;
    outline: none;
    width: 20rem;
    font-size: 1.1rem;
}

.search-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.search-button > svg {
    fill: rgb(222, 222, 222);
}

.search-button:hover > svg {
    fill: gray;
}

.search-button:active > svg {
    transform: scale(0.95);
}

.search-input::placeholder {
    color:rgb(222, 222, 222);
}

[data-theme='dark'] .search-input::placeholder {
    color:rgb(129, 129, 129);
}
[data-theme='dark'] .search-input {
    background-color: black;
}

@media (max-width: 1224px) {
    .search-input {
        width: 10rem;
    }

}