.tags-page-main {
    line-height: 3.5;
    
}
.tags-box {
    text-align: center;
    max-width: 70vw;
    margin:0 auto;
}
.tag-label {
    font-size: 1.5rem;
    display: block;
    text-align: center;
}
.tag {
    margin: 1rem;
    background-color: rgb(244, 244, 244);
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.tag:hover {
    background-color: dodgerblue;
    color: white;
}

.post-number {
    position: absolute;
    right:-0.5rem;
    top:-0.5rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 0.7rem;
    background-color: rgba(221, 160, 221, 0.516);
    color: gray;
 
}