.dashboard-body {
  margin: 0 0.5rem;
  padding: 0;

}

.first-row>div {
  border-radius: 1rem;
  background-color: #ffffff;
}

.first-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.recent-list-row>div {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
}

.archive-cloud-row>div {
  border-radius: 1rem;
  background-color: #ffffff;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}

.comment-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-list {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.comment-ul-wrap {
  margin-top:1rem;
}

.card-title {
  font-size: 1rem;
  margin: 0;
  margin-left: 1.5rem;
}

.card-title-more {
  margin:0;
  margin-right: 2rem;
  color:gray;
  cursor: pointer;
}

.archive-list {
  margin-top: 1rem;
}

.archive-number {
  margin-left: 0.5rem;
}

.post-date {
  float: right;
  clear: both;

}

.recent-post-list {
  margin-right: 1rem;
  margin-top: 1rem;
}

.number-card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;


	animation: gradient 15s ease infinite;
}

.number-card-box:nth-child(1) {
  background: linear-gradient(-45deg, #7029d2, #a86fe9, #a1228a, #f92ff2);
  background-size: 400% 400%;
} 

.number-card-box:nth-child(2) {
  background: linear-gradient(-45deg, #f97a37, #ffa26b, #fa9c22, #f02828);
  background-size: 400% 400%;
} 

.number-card-box:nth-child(3) {
  background: linear-gradient(-45deg, #3c84fb, #6da1ff, #482fea, #23a8bd);
  background-size: 400% 400%;
} 

.number-card-box:nth-child(4) {
  background: linear-gradient(-45deg, #27be0f, #7ee669, #23a6d5, #23d5ab);
  background-size: 400% 400%;
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.044), rgba(88, 88, 88, 0.75), rgba(0, 0, 0, 0.038));
}

.word-cloud-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.number-card-box > p {
  font-size: 1rem;
  margin:0;
  color:white;
} 

.number-card-box > p+p {
  font-size: 2rem;
  font-weight: 900;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin:0;
}

@media (min-width:1224px) {
  .dashboard-body {
    margin: 0 2rem;
  }

  .first-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:2rem;
  }

  .archive-cloud-row {
    display: flex;
    margin-top: 1rem;
   
  }

  .word-cloud-box {
    margin-right: 2rem;
    width: 30rem;
  }

  .archive-card-body {
    flex:1;
  }

  /* .recent-post-body {
    display: inline-block;
    width: 45%;
  }

  .recent-comment-body {
    display: inline-block;
    width: 30%;
    margin-top: 0;
  }

  .recent-list-row {
    margin-top:2rem;
  } */

  .recent-list-row {
    display: flex;
    margin-top: 1rem;
  }

  .post-date {
    float: none;
    clear: none;
    margin-left:2rem;
  }

  .comment-list {
    
  }

  .comment-text {
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .recent-post-body {
    flex:1
  }

  .recent-comment-body {
    margin-left: 2rem;
    width: 30rem;
    
  }

  .calendar-post-number {
    color: lightblue;
  }



}

