.login-page-box {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(../images/sun-tornado_light.svg);
}

.blurred-box {
    position: relative;
    width: 80vw;
    background: inherit;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.blurred-box::after {
    content: '';
    width: 95vw;
    height: 50vh;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0px;
    top: -25px;
    bottom: 0;
    border: 1px solid red;
    filter: blur(15px);

}

.form-box {
    position: relative;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 1.5rem;
    z-index: 1;
}

.user-name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1rem;
}

.input-password>* {
    border-radius: 0;
}

.input-password {
    opacity: 0.4;
}

.label-password {
    color: white;
}



.submit-button {
    background-image: linear-gradient(to right, #457fca 0%, #5691c8 51%, #457fca 100%);
    margin: 0.3rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}



@media (min-width:1224px) {
    .blurred-box {
        width: 30vw;  
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }

    .blurred-box::after {
        width: 40vw; 
    }

    .form-box {
        width: 30vw;
        padding: 3rem 0 1rem 0;
    }


    .submit-button:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }



}