.preview-body {
    background-color: transparent;
    margin: 0 2rem;
    border-radius: 0.5rem;
}

.post-title {
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.preview-post-body {
    background-color: transparent;
}

.link-top-box {
    display: flex;
    justify-content: right;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.post-info-first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-divider {
    display: none;
}

.grey-label {
    color: grey;
    font-size: 0.8rem;
}

.post-category-box {
    text-align: center;
    padding: 0;
}

.post-category-label {
    color: grey;
    font-size: 0.8rem;
}

.post-category {
    text-decoration: underline
}

.post-tag-box {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.post-tag-box>*+* {
    margin-left: 1rem
}

.tag-box {
    background-color: rgb(231, 231, 231);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.post-info-first-row,
.post-category-box {
    line-height: 0.7rem;
}

.post-title-draft {
    font-style: italic;
    color: rgb(94, 94, 94);
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    font-size: 2rem;
}

.post-title-draft::before {
    content: "(草稿)";
}

.preview-post-body pre {
    background-color: #f0f2f5;
   
}

.code-header {
    display: flex;
    justify-content: right;
    margin-right: 0.3rem;
    height: 2rem;
    position: relative;
    top: 2.5rem;
    z-index: 100;
    
}

.code-header .copy-button {
    cursor: pointer;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    filter: brightness(0.65);
}

.code-header .copied {
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) saturate(100%) invert(86%) sepia(32%) saturate(714%) hue-rotate(68deg) brightness(99%) contrast(97%);
}

@media (max-width:1224px) {
    .preview-post-body pre {
        font-size: 0.6rem;
    }
    
}


@media (min-width:1224px) {
    .preview-body {
        border-radius: 1rem;
        background-color: #fff;
    }

    .preview-post-body {
        padding: 1rem 5rem;
    }

    .post-title {
        margin-top: 0;
    }

    .link-top-box {
        margin-right: 8rem;
        padding-top: 1rem;
    }

    .post-info-first-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
    }

    .post-info-first-row>*+* {
        margin-left: 0.5rem;
    }

    .grey-label {
        color: grey;
        font-size: 0.8rem;
    }

    .v-divider {
        color: lightgray;
        display: flex;
    }

    .preview-post-body pre {
        background-color: #ffffff;
    }

    

    .code-header .copy-button {
        display: none;
        cursor: pointer;
        background-color: transparent;
        width: 1.5rem;
        height: 1.5rem;
        filter: brightness(0.9);
    }

    .copy-button:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(63%) saturate(523%) hue-rotate(179deg) brightness(101%) contrast(104%);
    }
    
    .code-box:hover .copy-button {
        display: flex;
    }

    .code-header {
        margin-right: 1.5rem;
        top: 3rem; 
    }
}